<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Certifications</title>
<link rel="stylesheet" href="{{ url_for('static',filename='stylu.css')}}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald|Noto+Sans">


</head>
<body style= "background-image:url({{ url_for('static',filename='images/Photographer.jpg')}})">
 <div class="content">
  <h1 id="cer" style ="">Certifications</h1>
<!--Ethical Hacking--> 
  <div class="container1">
      <a href="https://drive.google.com/file/d/122OGGIZLXjC9bcV6AQVu-PruZCLwqyVE/view?usp=drivesdk" class="hea" style=" display:inline-block;">Ethical Hacking</a>
      
      <div class="logocan">
          <img id="nptel"class ="logo" src="{{ url_for('static',filename='images/nptel.jpg')}}" alt="Cinque Terre">
          </div>
      
      <div class ="section" style="position:absolute; bottom:0px;"> 
      <div class="sectionblock"> 
          <div class="mask1">
             <img src="{{ url_for('static',filename='images/oreo.png')}}">
             </div>
       </div>
       </div>
       <div class="details">
       <p id="year" class="detp">2023</p>
       <p class="detp"><b>NPTEL</b></p>
       </div>
  </div>
<!--Psychology-->
	<div class="container1">
	<a href="https://drive.google.com/file/d/11qkBwzcKBwskyQUJY2IJKydYxDcanQ1v/view?usp=drivesdk" class ="hea">Psychology</a>
		
		<div class="logocan">
			<img id="yale"class ="logo" src="{{ url_for('static',filename='images/yale.png')}}" alt="Cinque Terre">
		</div>
		
		<div class ="section" style="position:absolute; bottom:0px;"> 
		<div class="sectionblock">
			<div class="mask1">
				<img id="psycho1"src="{{ url_for('static',filename='images/psycho1.gif')}}">
			</div>
		</div>
		</div>
		
		<div class="details">
		<p id="year" class="detp">2024</p>
		<p class="detp"><b>Coursera.com</b></p>
		</div>
	</div> 
<!--Emb Sys Des--> 	
	<div class="container1">
      	<a href="https://drive.google.com/file/d/122OGGIZLXjC9bcV6AQVu-PruZCLwqyVE/view?usp=drivesdk" class="hea" style=" ">Embedded Sys Design</a>
      
 	     <div class="logocan">
  	        <img id="nptel"class ="logo" src="{{ url_for('static',filename='images/nptel.jpg')}}" alt="Cinque Terre">
     		  </div>
      
     	<div class ="section" style="position:absolute; bottom:0px;"> 
     		<div class="sectionblock"> 
      	 	   <div class="mask1">
     	      	  <img src="{{ url_for('static',filename='images/embed.jpeg')}}">
  	        	  </div>
  	        </div>
    	   </div>
    	<div class="details">
    	<p id="year" class="detp">2023</p>
    	<p class="detp"><b>NPTEL</b></p>
    	</div>
    	   
 	 </div>
<!--Digital Marketing-->
 	<div class="container1">
 		<a href="https://drive.google.com/file/d/124jPCQ1QQUAgq_4NigteWIVmEPF2RfzP/view?usp=drivesdk"class="hea" style=" display:inline-block;">Digital Marketing</a>
 		<div class="logocan">
 			<img id="googleskill"class ="logo" src="{{ url_for('static',filename='images/skilllogo.webp')}}" alt="Cinque Terre">
 		</div>
 		
 		<div class ="section" style="position:absolute; bottom:0px;"> 
 		<div class="sectionblock"> 
 			<div class="mask1">
 				<img id="googleskillgif"src="{{ url_for('static',filename='images/skill.gif')}}">
 			</div>
 		</div>
 		</div>
 		<div class="details">
 		<p id="year" class="detp">2024</p>
 		<p class="detp"><b>SkillShop</b></p>
 		</div>
 	</div>
 
 
</div>

</body>
</html>
