<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Certifications</title>
<link rel="stylesheet" href={{ url_for('static',filename='stylu.css')}}
</head>
<body>
 <div class="content">
  <h1 id="cer" style ="font-size:40px; background-color:#ccc; color:yellow ">Certifications</h1>
  <div class="container1">
      <h2 class="hea" style=" display:inline-block;">Ethical Hacking</h2>
      
      <div class="logocan">
          <img id="nptel"class ="logo" src="images/nptel.jpg" alt="Cinque Terre">
          </div>
      
      <div class="sectionblock"> 
          <div class="mask1">
             <img src="images/oreo.png">
             </div>
       </div>
  </div>

	<div class="container1">
	<a href="https://www.google.com" class ="hea"><b>Psychology</b></a>
		
		<div class="logocan">
			<img id="yale"class ="logo" src="images/yale.png" alt="Cinque Terre">
		</div>
		
		<div class="sectionblock">
			<div class="mask1">
				<img id="psycho1"src="images/psycho2.gif">
			</div>
		</div>
	</div> 
 	
 	<div class="container1">
 		<h2 class="hea" style=" display:inline-block;">Digital Marketing</h2>
 		<div class="logocan">
 			<img id="googleskill"class ="logo" src="images/skilllogo.webp" alt="Cinque Terre">
 		</div>
 		<div class="sectionblock"> 
 			<div class="mask1">
 				<img id="googleskillgif"src="images/skill.gif">
 			</div>
 		</div>
 	</div>
 
 
</div>

</body>
</html>
