<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Personal Project</title>
<link rel="manifest" href="/manifest.json">
  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', function() {
        navigator.serviceWorker.register("/sw.js").then(function(registration) {
          console.log('ServiceWorker registration successful with scope: ', registration.scope);
        }, function(err) {
          console.log('ServiceWorker registration failed: ', err);
        });
      });
    }
  </script>
<!--<link rel="stylesheet" href="style.css">--> 
</head>
<body>
<nav>

    <h1 style ="font-size:20px">Batch - 9 Login</h1>
    </nav>
<div class="content">
  {% if form.errors %}
  <ul class="errors">
  {% for error in form.errors %}
  <li>{{ error }}</li>
  {% endfor %}
  </ul>
  {% endif %}
  
  <form method="POST" action="/">
  {{ form.hidden_tag() }}
  <p>
  {{ form.passw.label }}<br>
  {{ form.passw(size=5) }}
  </p>
  <p>{{ form.submit }}</p>
  </form>
  </div>
</body>
</html>
